<!DOCTYPE html>
<html>
<head>
  <title></title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="src/css/main.css">
</head>
<body>
  <div class="container">

    <!-- Classificatie -->
    <div class="row tax">
      <script id="feedbackTemplate" type="text/template">
        <!-- <div class="modall"> -->
          <div class="col-md-6 col-md-offset-3 backgr">

          <h2 class="modaltextt">Geef feedback op de onderstaande vraag:</h2>

          <div class="questionexample">
            <span class="naamtitle">Naam:</span><input type="text" class='namefield'/>

            <textarea class='commentarea'></textarea>
            <a class="save opslaan">Verzenden</a>

            <div class="qwrapper">
              <div class="previewwrapper" style="background-color:rgb(51, 122, 183);">
                <span class="minititle">Vraag:</span>
                <p class=txt><%= question %></p>
              </div>
            <div class="previewwrapper">
              <span class="minititle">Antwoord:</span>
              <p class=txt><%= answer %></p>
            </div>

          </div>
          </div>
        </div>

        <!-- </div> -->
      </script>

      <div class="col-md-3" style='padding:0;'>
        <div class="sidepanel">


            <h4>Soort vraag</h4>
            <div class="taxonomy">
            <span class='reproductie label label-primary'>Reproductie</span>
            <div class='question'><span>?</span><span class="tooltip-taxonomy">Vragen op reproductieniveau zijn vragen waarbij de leerling zelf niets wezenlijks toe hoeft te voegen aan datgene wat hij geleerd heeft. Met deze vragen kan inzichtelijk gemaakt worden of de leerling de geleerde stof kan reproduceren. Denk bijvoorbeeld aan het kunnen reproduceren van warenkennis, gereedschapskennis, een stappenplan of de werking van apparatuur.</span></div>
            <span class='toepassing label label-primary'>Toepassing</span>
            <div class='question'><span>?</span><span class="tooltip-taxonomy">Bij toepassingsvragen moet je de leerstof in een onbekende situatie gebruiken om een probleem op te lossen.</span></div>
            <span class='inzicht label label-primary'>Inzicht</span>
            <div class='question'><span>?</span><span class="tooltip-taxonomy">De leerling krijgt geen methode, context of situatie aangeboden, maar alleen een vraagstuk. Hij moet zelf bepalen hoe hij het gaat aanpakken. De leerling heeft alleen de leerstof tot zijn beschikking om de vraag op te lossen. Hij laat zien dat hij vanuit verschillende, ook nieuwe, perspectieven kan denken.</span></div>
          </div>

            <!-- <h4>Snel zoeken</h4>
            <div class="keywords">
            </div> -->
        </div>
      </div>

      <div class="col-md-8 filterpanel">
      <div class="everything">
        <h3 class="vraagantwoordtitle">Vraag</h3>
        <div class="textvak vraag" id='values' contenteditable></div>
        <h3 class="vraagantwoordtitle">Antwoord</h3>
        <div class="textvak antwoord" contenteditable></div>

        <a class="save">OPSLAAN</a>

        <div class="sameheight"><h2 class="feedback">FEEDBACK</h2><a class="deel">Deel link</a></div>
        <div class="comments">
        </div>

      </div>
        <div class="tips">
      </div>

      </div>
    </div>




  </div>
  <script src='dist/bundle.js'></script>
</body>

</html>
