body {
  margin:0;
  padding:0;
  background-color: white;
  font-family: 'Open Sans', sans-serif;
}

div {
  /*margin:0!important;*/
  padding:0!important;
}

#values {
  /*margin:18px;*/
  height:200px;
  margin-bottom:20px;
  width: 71%;
  margin-left: 350px;
  float: right;
  margin-top: 100px;
}

.label-primary{
  font-size:100% !important;
}

.sidepanel{
  height:800px;
  background-color: #E1E1E1;
  padding: 25px !important;
  margin-top: 50px;
}

.filterpanel{
  background-color: rgb(51, 122, 183);
  height:60px;
  position: absolute;
}

.jumbotron{
  padding:15px !important;
}

.tooltipss{
  background-color:#0066cc;
  margin-right: 125px;
  margin-left: 420px;
  color:white;
  padding:10px;
  border-radius:10px;
}

.maintekst{
  margin: 0;
padding: 15px;
margin-left: 350px;
color: white;
}

textarea{
  font-size:20px;
  padding:10px;
}

.selected{
  background-color:orange !important;
}

.label{
   border-radius: 0;
   display: block!important;
   margin-bottom:15px;
   cursor:pointer;
   text-align: left;
   padding:10px;
   margin-right: 40px;
}

h4 {
  border-bottom: 1px solid black;
  padding:5px;
  margin-top: 30px;
  margin-bottom: 20px;
}

.question{
  border-radius: 50%;
  width: 20px;
  height: auto;
  background: #9FD3A1;
  float: right;
  margin: 7px;
  cursor:pointer;
  margin-top: -42px;
}

.question span{
  padding:7px;
  font-weight:800;
  color:white;
}
